@model EgeApp.Frontend.Mvc.Models.Product.ProductViewModel


<section class="product-details spad">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <img class="product__big__img" src="@Model.ImageUrl" alt="@Model.Name">
                </div>
            </div>
       
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__price">
                        @Model.Price.ToString("C")
                        @if (Model.DiscountedPrice.HasValue)
                        {
                            <span>@Model.DiscountedPrice.Value.ToString("C")</span>
                        }
                    </div>
                    <p>@Model.Description</p>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Adet:</span>
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                        <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Sepete Ekle</a>
                    </div>

                  
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Garanti Süresi:</span>
                                <p>@Model.Brand ?? "Belirtilmemiş"</p>
                            </li>
                            <li>
                                <span>İndirimli:</span>
                                <p>@(Model.IsDiscounted ? "Evet" : "Hayır")</p>
                            </li>
                            <li>
                                <span>Ücretsiz Kargo:</span>
                                <p>@(Model.IsFreeShipping.HasValue && Model.IsFreeShipping.Value ? "Evet" : "Hayır")</p>
                            </li>
                            <li>
                                <span>Özel Ürün:</span>
                                <p>@(Model.IsSpecialProduct.HasValue && Model.IsSpecialProduct.Value ? "Evet" : "Hayır")
                                </p>
                            </li>
                            <li>
                                <span>Aynı Gün Kargo:</span>
                                <p>@(Model.IsSameDayShipping.HasValue && Model.IsSameDayShipping.Value ? "Evet" :
                                         "Hayır")</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

